<%- include('partials/top') %>
<main>
	<h1><%= title %></h1>
	<p><strong>Description:</strong> <%= description %></p>
	<p><strong>Author:</strong> <%= author %> | <strong>Published:</strong> <%= published %></p>
	<hr>
	<%- content %>
</main>
<%- include('partials/bottom') %>